# node
node_modules/

# env (🔥 IMPORTANT)
.env
backend/.env
Frontend/.env

# firebase secret (🔥 VERY IMPORTANT)
backend/serviceAccountKey.json

# logs
*.log

# build
dist/
build/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# uploads (if any)
backend/uploads/